.header {
  display: flex;
  justify-content: space-around;
  
}

.homeBreweries {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;

}

.breweries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.brewery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 4/3;
}

