.websiteName {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-around;
  
}

.breweryForm {
  display: flex;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeBreweries {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  border: 1px solid black;
}

.breweries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}


.brewery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  flex: 1;
}

.imgdiv {
  border: 1px solid black;
}

.img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 4/3;
  border: 1px solid black;
}

