
.websiteName {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  background-color: black;
  flex: 1;
  
}
.search {
  display: flex;
  border: 1px solid black;
}
  
.navText {
  text-decoration: none;
  color: #b59410;
}

.breweryForm {
  display: flex;
  /* border: 1px solid black; */

}

.form {
  display: flex;
  justify-content: center;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeBreweries {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  /* border: 1px solid black; */
}

.breweries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b59410;
  border: 1px solid black;

}


.brewery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
  flex: 1;

}

.imgdiv {
  border: 1px solid black;
}

.img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  aspect-ratio: 4/3;
  border: 1px solid black;
}

